<article class="section_admin">
	<form id="accountAdmin">
		<div class="container_admin">
			<div>
				<h3>Adminstrateur</h3>
				<input type="hidden" name="idAdmin" value="<?= $idAdmin ?>" >
				<label for="nomAdmin">Nom</label><input type="text" name="nomAdmin" value="<?= $nomAdmin ?>" <?= $rules  ?>>
				<label for="mAdmin">Prénom</label><input type="text" name="prenomAdmin" value="<?= $prenomAdmin ?>" <?= $rules  ?>>
				<label for="pseudo">Pseudo</label><input type="text" name="pseudo" value="<?= $pseudo ?>" <?= $rules  ?>>
				<label for="idtypeAdmin">Type administrateur</label>
				<div>
					<select  name="idtypeAdmin">
						<?php 


							if ($_SESSION['USER']['ID'] == 1 ) {
									
									
							}elseif ($value['idTypeUser'] == 2 ) {

			  						
		   						unset($tabTypeadmin[0]);
								
							}elseif ($value['idTypeUser'] == 3 ){
								unset($tabTypeadmin[0]);
								unset($tabTypeadmin[1]);
							}

							foreach ($tabTypeadmin as $key => $value) { ?>

								<option value="<?= $value['idTypeUser'] ?>" <?php echo $selected = ( $value['idTypeUser'] == $idTypeAdmin)? 'selected' : '' ?>>
										<?= $value['nomTypeUser'] ?>					
									</option>
								<?php 
								

							}
						?>
					</select>
				</div>
				<label for="mailAdmin">Adresse mail</label><input type="text" name="mailAdmin" value="<?= $mailAdmin ?>" <?= $rules ?> >
				<?php 
					if ($_SESSION['USER']['ID'] == $idAdmin) {
						# code...
					?>
						<label for="passwordAdmin">Votre mot de passe</label><input type="text" name="passwordAdmin">
						<label for="confirmepasswordAdmin">Confirmation mot de passe</label><input type="text" name="confirmepasswordAdmin">
					<?php 
					}
				?>

			 	<!-- <button  type="button"  name="saveAdmin" id="saveAdmin"  class="modifyAdmin">Enregister</button> -->
			 	 <?php 

		            if(isset($monAdmin)){
		                ?>
		                   
		                    <button  type="button"  name="" class="modifyAdmin" >Modifier admin</button>
		                <?php
		            }else{
		                ?>

		                    <button  type="button"  name=""  class="createAdmin">Enregistrer admin</button>

		                <?php
		            }

		        ?>
		    </div>
	    </div>
	</form>
</article>