
	<ul id="listeContact">
	    <?php
	    	
	    $asChecker="";
	    //Liste de tout les contacts présents dans la base de données
	    if (isset($obj5)) {
	        foreach ($obj5  as $key => $value) {
	            $asChecker="";
	            if (isset($obj3)) {
	                # code...
	                foreach ($obj3  as $keys => $v2) {
	                	
	                    if ($value == $v2) {
	                        $asChecker =  "checked";
	                        break;
	                    }
	                }
	            }
	            ?>

	            <input type="checkbox"  name="contacts" value="<?= $value['idContact'] ?>" <?= $asChecker ?>       >
	            <?=  $value['orgContact'] ;

	                
	        }
	    }

	    ?>
	</ul>

