* {
    
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body{

    font-family: 'Overpass', sans-serif;
    font-size: 1.4rem;

}
.contenaire {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #d1d1d1;
    background-color: #d0d0d0;
    padding: 20px 60px;
    min-height: 100vh;
}
.objContact,.nodeOfUser {
    background-color: antiquewhite;
    margin: 2px 10px;
    display: inline-block;
    padding: 2px 5px;
}
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #53af57;
}

#container {
    width: 600px;
    margin: 10px auto;
}

textarea, input[type=text], input[type=time], input[type=number], input[type=date], input[type=date], input[type=password] {
    width: 50%;
     padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.flexText {
    flex: 2;
}

#affiche_article > article{
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
div {
    position: relative;
}

.redirection {
    background-image: url(../img/404.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #59FF00;
    position: absolute;
    width: 100vw;
    height: 100vw;
    left: -150px;
    top: -27px;
    /* right: 100vw; */
    /* bottom: 100vw; */
}


section#dashboard, #dashboard > section {
    margin: 0;
    padding: 0;
}

#dashboard ul {
    margin: 10px 0;
    list-style-type: none;
    padding: 0;
}

#dashboard > nav > ul {
    text-align: end;
    padding-right: 40px;
    margin: 15px 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 10px 0;
    padding: 0 5px;
}

section#dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Avenir Next", "Avenir", sans-serif;
    border: none;
}


#contenaire_admin{
    flex: 1 2 ;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: whitesmoke;
}

nav {
    background-color: #c7c7c7;
    display: flex;
    justify-content: space-between;
}


aside {
    flex: 0 1 290px;
    padding: 10px;
    background: #4e2b44;
    color: white;
}

aside li {
    padding: 10px;

}

#dashboard a {
    text-decoration: none;
}


nav > div {
    flex: 0 1 200px;
    text-align: center;
    vertical-align: middle;
    align-self: center;
}

.hamburger span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #2d2828;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.hamburger {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  

  div#contenaire_liste {
    background-color: #b7b7b7;
  }
  
  #contenaire_admin section {
    background-color: #b7b7b7;
    position: relative;
    background-color: #fff;
  }
  
  #contenaire_admin ul li button{
    cursor: pointer;
  }
 
  #contenaire_admin > aside > label {
    padding: 20px 0;
    display: block;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #content > div {
    padding: 5px;
    box-shadow: 0 1px 5px 0 rgba(84,84,84,0.2), 0 2px 2px 0 rgba(84,84,84,0.2), 0 3px 1px -2px rgba(84,84,84,0.2);
    border-radius: 1px;
    background: #b7b7b7;
    margin: 5px 10px;
  }
  

  

#contenaire_admin section {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    flex: 0 100%;

}

div#contenaire_liste {
    
    flex: 0 0 150px;
    max-height: 150px;
    overflow: auto;
    padding: 5px;

    
}

footer{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

div#contenaire_affiche {
    flex: 2 1 auto;
    /*background: #112e71;*/
}

#contenaire_reponse article {
    
    background-color: #b7b7b7;
    padding: 10px 0 10px 10px;
   
}

#contenaire_reponse ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenaire_reponse li {
    padding: 10px;
}

#contenaire_reponse article figure {
    float: none;
    width: 200px;
    margin: 0;
}

#contenaire_reponse article figure ~ p {
    padding: 0;
    color: black;
}

#contenaire_reponse article figure + p:nth-child(2) {
    font-size: 1.3em;
    color: black;
    text-shadow: -1px 0px black;
}



#contenaire_reponse img {

    max-width: 100%;
}

img {
  width:100%;
  height:100%;
  display:block;
}
div a img {
    width: 49px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
div a label {
    /* height: 74px; */
    /* line-height: 74px; */
    vertical-align: middle;
}

.erreur{
    color:red;
    font-size: 14px;
    font-weight: bolder;
}

#affiche_article p {
    margin: 10px;
}
#affiche_article figure {
    float: none;
    width: 350px;
    margin: 0 auto;
    height: 240px;
}

.user{
    display: block !important;

}

section.commentaire {
    height: 450px;
    overflow-x: auto;
    background: #c3c3b8;
    border: 1px solid #949588;
}

textarea[name="contenu"] {
    width: 50%;
    height: 250px;
}

.com {
    margin: 10px;
    background: #d2d7d5;
    border: 1px solid #b5abbe;
    /* padding: 1px; */
}

#formMod article {
    width: 100%;
}

.produit{
    display: block;
    margin: 10px 0 ;
}


aside > li {
    padding: 10px;
    text-align: center;
    padding-right: 30px;
}


.menu > a ,.menu > button{
    display: block;
    padding: 0 0px;
}

ul.sous_menu_1 li button{
    font-size: 1.4rem;
}
ul > li > button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: initial;
}

.menu.active::after{
    content: "-";
}

.sous_menu_1.active::after{
    background-color: #00000029;
}

.toogleActive{
    display: block !important;
}

ul.sous_menu_1 {
    display: none;
}

.menu{
    position: relative;
}

aside > ul > li> ul > li:hover {
    padding-bottom: 9px;
    border-bottom: 1px solid;
    background:#ffffff26;
}

aside >ul >li.menu > a::after,aside >ul >li.menu > button::after {
    content: "+";
    position: absolute;
    right: 10px;
    font-size: 20px;
}

aside >ul >li.menu > a.active::after,aside >ul >li.menu > button.active::after  {
/* this selector is more specific, so it takes precedence over the other :after */
    content: "-";
    font-size: 25px;
    top: 0;
}

div#affiche_article {
    margin: 10px;
}

article > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul a {
    color: black;
}

.sous_menu_1 a {

    width: 90px;
    display: inline-block;
}

ul.sous_menu_1 > li {
    position: relative;
}

.patron{
        flex-direction: column;
}

.patron p {
    margin: 0;
}

.patron li.patron_li {
    border: 1px solid;
    margin: 5px;
}

.patron li.patron_li {
    border: 1px solid #00000029;
    margin: 5px;
    background: #c7c7c7;
}

.patron li.patron_li:hover {
    border: 1px solid #c7c7c7;
    background: #00000029;
}
.patron_li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenaire_action{
    text-align: center;
}
.contenaire_action button,#contenaire-slider button,#section1_contact button,.container_admin button{
    /* text-align: center; */
    padding: 8px 20px;
    background: #4e2b44;
    color: white;
    border: none;
    border-radius: 1px;
}

#infoEvent, #section1_contact span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#infoEvent label, #section1_contact  label, .container_admin  label{
  flex-basis: 50%;
  text-align: initial;
}

#infoEvent input ,#infoEvent textarea ,#section1_contact  input, .container_admin  input{
  flex-basis: 50%;
}

#infoEvent select {
  flex-basis: 50%;
  padding: 5px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea[name="inforeservation"] {

    height: 49px;

}
textarea[name="contenu"] {

    height: 140px;

}

#contenaire_details, #contenaire_ml, #idAjoutContact, #contactOfEvenement, #section1_contact,.container_admin {
  border: 1px #80808075 solid;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 1px 5px 0 rgba(84,84,84,0.2), 0 2px 2px 0 rgba(84,84,84,0.2), 0 3px 1px -2px rgba(84,84,84,0.2);
}

#section1_contact > div ,.container_admin > div   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#section1_contact > div > div, .container_admin > div   > div{
    flex-basis: 50%;
}
#section1_contact > div   > h3,.container_admin > div   > h3{
    flex-basis: 100%;
}

#contactevent .objContact{
    padding : 5px 10px;
    border: 1px solid black;
    border-radius: 5%;
}

#contenaire_reponse article button {
    margin: 5px;
    padding: 5px 10px;
    background-color: grey;
    border-radius: 2px;
  
    text-align: center;
    display: inline-block;
    /* margin: 0 auto; */
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
                position: relative;
                z-index: 10; /*500*/
}
#contenaire_reponse article p label{
    position: relative;
    z-index: 1;
}

.active {

    color:red;
    font-weight: 900;
    background-color: cyan !important;
}
#contenaire_reponse article button:hover {

    color:red;
    font-weight: 900;
    background-color: black !important;
}


.commentaire-evenement li {
    list-style-type: none;
    padding: 10px 25px;
    background-color: 
    coral;
    margin: 8px 10px;
    border-radius: 2px;
}

.commentaire-evenement li {
    list-style-type: none;
}

.commentaire-evenement li label {
    display: block;
    margin: 10px 0;
    padding-left: 20px;
}
label.utilisateur {
    font-size: 1.6rem;
    font-weight: 600;
}


label.contenu {
    font-size: 1.7rem;
    padding-left: 50px;
}

label.datemsg {
    text-align: end;
    padding-right: 30px;
    font-weight: 600;
}

.voir_contact, .supprimer_contact{
    cursor: pointer;
}

.fa-times{
    color: red;
}

.fa-check{
    color: lightgreen;
}

.fa-eye{
    color:blue;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 300px;
    padding-top: ;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 12px;
    right: 12px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#contenaire-slider figure {

    width: 100%;
    height: 350px;

}

#information {
    display: block;
    margin: 5px;
    padding: 10px 5px;
    text-align: left;
    }
.modal-content > p:nth-child(2) {
  background: #2f1a29;
  padding: 20px 5px;
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}
.modal-content > *:nth-child(n+3) {
  /*! padding: 7px 15px; */
  text-align: center;
}